body {
  margin: 10px;
}

.btn {
  background-color: lightblue;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
}

.resultWrapper {
  list-style-type: none;
  padding-left: 10px;
}

.resultWrapper li {
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
}

.withBuffer {
  display: block;
  margin-top: 20px;
}

.rightMargin {
  margin-right: 20px;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
